<!--<div>
    <div class="center_wrapper">
        <select id = "sprint_dropdown">
            <% @sprints.each do |i|%>
                <option value= <%=i["objectId"] %>><%=i["name"]%></option>
            <% end %>    
        </select>
    </div>
    <br>
    <div class="center_wrapper">
    <select id = "feature_dropdown">
        <option value="" class="default_select" disabled selected>Select a Feature</option>
        <% @features.each do |i|%>
            <option id=<%=i["objectId"] %>  value= <%=i["sprint_ptr"]["objectId"] %>><%=i["name"]%></option>
        <% end %>    
    </select>
    </div>
    </br>
</div>-->
<!--<div>
    <div class='left_align'>
        <left><%=select(:post, 'sprint_dropdown', @sprints.collect {|s| [s["name"]]}, :onchange => "this.form.submit()")%></left>
        <right><%=select(:post, 'feature_dropdown', @features.collect {|s| [s["name"]]}, :onchange => "this.form.submit()")%></right>
    </div>

    <div class='right_align'>
        <%=select(:post, 'feature_dropdown', @features.collect {|s| [s["name"]]}, :onchange => "this.form.submit()")%>
    </div>
</div>-->
<div id= 'poker_page' hidden></div>
<%= javascript_tag do %>
  window.current_user_id = '<%= @user_info["objectId"] %>';
  window.number_of_comments = <%= @feature_comments.length %>;
  window.current_feature_id = '<%=@feature_id%>';
<% end %>

<div class= "center_wrapper">
    <select class= "dropdown-poker">
        <% @sprints.each do |s|%>
            <optgroup id = <%= s["objectId"]%> label= <%=s["name"]%>>
                <% @features.each do |f|%>
                    <% if f["sprint_ptr"]["objectId"] == s["objectId"] %>
                        <option id = <%= f["objectId"]%> value= <%= f["objectId"]%> <%=selected = "selected" if f["objectId"] == @feature_id%> ><%= f["name"]%></option>
                    <%end%>
                <% end %>
            </optgroup>
        <%end%>
    </select>
</div>

<div class= "center_wrapper">
    <div class = "poker_info">
        
        <% if @selected_feat && @selected_feat["description"] %> 
        <div class = 'poker_info_header'>
            <div class = "poker_info_title">Description: </div>
        </div>
        <div class = "poker_info_text"><%= @selected_feat["description"]%></div>
        <% end%>
    </div>
</div>

<!--<div class= "center_wrapper">
    <%=select(:post, 'sprint_dropdown', @sprints.collect {|s| [s["name"]]}, {:onchange => "this.form.submit()"}, {:class => 'dropdown-poker'})%>
    <%=select(:post, 'feature_dropdown',  @features.collect {|s| [s["name"]]}, {:onchange => "this.form.submit()"}, {:class => 'dropdown-poker'})%>
</div>-->

<div class="center_wrapper">
    <% if @user_info["profile_picture"]
        tempStr = @user_info["profile_picture"].url
        profile_picture = tempStr.gsub("http" , "https")
    else
        profile_picture = "profile_picture.png"
    end
    %>
    <%= image_tag profile_picture, height: '200', width: '200' %>
    <%= form_tag(vote_path(:feat_id => @feature_id), method: "post") do %>
    <fieldset class="rating">
        <%5.downto(1) do |r|%>
            <input type="radio" id="star<%=r%>" name="rating" value="<%=r%>" <%=checked="checked" if @stored_vote == r %>  /><label for="star<%=r%>" title="<%=r%>"><%=r%> stars</label>
        <%end%>
    </fieldset>
        <div class='btn-file'><%= submit_tag "Vote", :feat_id => @feature_id  %></div>
    <%end%>
</div>

<!--<div class="center_wrapper">
    <fieldset class="rating">
        <input type="radio" id="star5" name="rating" value="5" disabled /><label for="star5" title="Difficult">5 stars</label>
        <input type="radio" id="star4" name="rating" value="4" disabled checked="checked"/><label for="star4" title="Relatively Difficult">4 stars</label>
        <input type="radio" id="star3" name="rating" value="3" disabled /><label for="star3" title="Average">3 stars</label>
        <input type="radio" id="star2" name="rating" value="2" disabled /><label for="star2" title="Relatively Easy">2 stars</label>
        <input type="radio" id="star1" name="rating" value="1" disabled /><label for="star1" title="Easy">1 star</label>
    </fieldset>
</div>-->

<div class= "center_wrapper">
    <% if @display_votes %>
        <% @poker_users.each do |user| %>
            <% if user["user_info_ptr"]["objectId"] != @user_info["objectId"]%>
                <% if user["user_info_ptr"]["profile_picture"]
                    tempStr = user["user_info_ptr"]["profile_picture"].url
                    profile_picture = tempStr.gsub("http" , "https")
                else
                    profile_picture = "profile_picture.png"
                end
                %>
                <div id = <%=user["objectId"]%> class="member_vote">
                    <a><%= image_tag profile_picture, height: '100', width: '100' %></a>
                    <h2 style= "color: white"><%=user["user_info_ptr"]["first_name"]%> <%=user["user_info_ptr"]["last_name"]%></h2>
                    <fieldset class="mem_rating">
                        <%5.downto(1) do |r|%>
                            <input type="radio" id="mem_star<%=r%>" name="mem_rating" value="<%=r%>" disabled 
                            <%if user['vote'] <= r %>checked class="mem_rating_colored" <%end%>
                            /><label 
                            <%if user['vote'] >= r %>
                                style = "color: #f70; text-shadow:1px 1px #c60, 2px 2px #940, .1em .1em .2em rgba(0,0,0,.5);"
                            <%end%>
                            title="<%=r%>"><%=r%> stars</label>
                        <%end%>
                    </fieldset>
                </div>
            <% end %>
        <% end %>
    <% else %>
        <% @group_members.each do |user| %>
            <% if user["user_info_ptr"]["objectId"] != @user_info["objectId"]%>
                <% if user["user_info_ptr"]["profile_picture"]
                    tempStr = user["user_info_ptr"]["profile_picture"].url
                    profile_picture = tempStr.gsub("http" , "https")
                else
                    profile_picture = "profile_picture.png"
                end
                %>
                <div id = <%=user["objectId"]%> class="member_vote">
                    <a><%= image_tag profile_picture, height: '100', width: '100' %></a>
                    <h2 style= "color: white"><%=user["user_info_ptr"]["first_name"]%> <%=user["user_info_ptr"]["last_name"]%></h2>
                    <h2 style= "color: white"><%= @voted_hash[user["user_info_ptr"]["objectId"]] ? "voted" : "Needs to vote"%></h2>
                </div>
            <% end%>
        <% end %>
    <% end %>
</div>


<div class="center_wrapper">
    <div id="disc_brd">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<span class="glyphicon glyphicon-comment"></span> Poker Discusssion
			</div>
			<div class="panel-body">
				<ul class="chat">
					<%@feature_comments.each do |com| %>
					<li class="left clearfix">
						<span class="chat-img pull-left">
							<% if com["user_info_ptr"]["profile_picture"]
							  tempStr = com["user_info_ptr"]["profile_picture"].url
							  prof_picture = tempStr.gsub("http" , "https")
							else
							  prof_picture = "project.png"
							end 
							%>
							<%= image_tag prof_picture, height: '50', width: '50'%>
						</span>
						<div class="chat-body clearfix">
							<div class="header">
								<strong class="primary-font"><%= com['user_info_ptr']['first_name']%> <%= com['user_info_ptr']['last_name']%></strong> <small class="pull-right text-muted">
									<% d = DateTime.iso8601(com["createdAt"][0..18] + "-05:00")
									d = d.advance(:hours => -5)%>
									<span class="glyphicon glyphicon-time"></span><%= d.strftime("%B") %>  <%= com["createdAt"][8..9].to_i.ordinalize %>, <%=d.strftime("%Y") %> at <%=d.strftime("%I:%M %p") %></small>
							</div>
							<p>
								<%=com['message']%>
							</p>
						</div>
					</li>
					<%end%>
				</ul>
			</div>
			<% #form_tag(comment_path(:feat_id => @feature_id), method: "post") do %>
			<div class="panel-footer">
				<div class="input-group">
					<input name = "comment" id="btn-input" type="text" class="form-control input-sm" placeholder="Type your message here..." />
					<span class="input-group-btn">
					    <button name = <%=@feature_id%> class="btn btn-warning btn-sm" id="btn-chat">Send</button>
					</span>
				</div>
			</div>
			<% #end%>
		</div>
    </div>
</div>

<div class="center_wrapper">
    <% if @selected_feat && @selected_feat["owner_ptr"] && @user_info["objectId"] == @selected_feat["owner_ptr"]["objectId"]%>
        <% if @sumbit_enable && @selected_feat["difficulty"] != @stored_vote %>
            <%= button_to 'Submit Feature', submitVote_path(id: @feature_id, diff: @stored_vote), :class => 'btn btn-primary', :id => 'poker_submit', method: :post%>
        <% else %>
            <%= button_to 'Submit Feature', submitVote_path(id: @feature_id), :class => 'btn btn-primary', method: :post, :disabled => true, :id => 'poker_submit'%>
        <% end %>
    <% end %>
</div>
