<h1><%=session[:current_user]["email"]%></h1>
<table id="mysched" style="width:100%">
  <tr>
    <td style="background-color: white">Hour</td>
    <td style="background-color: white">Sunday</td>
    <td style="background-color: white">Monday</td>
    <td style="background-color: white">Tuesday</td>
    <td style="background-color: white">Wednesday</td>
    <td style="background-color: white">Thursday</td>
    <td style="background-color: white">Friday</td>
    <td style="background-color: white">Saturday</td>
  </tr>
  <% @i = 0 %>
  <% until @i == 24 %>
  <tr id="row">
    <td style="background-color: rgb(255, 255, 255);"><%= @i %></td>
    <td style="background-color: rgb(255, 255, 255);" id="Sun<%= @i %>"><input type="hidden" value="0"></td>
    <td style="background-color: rgb(255, 255, 255);" id="Mon<%= @i %>"><input type="hidden" value="0"></td>
    <td style="background-color: rgb(255, 255, 255);" id="Tues<%= @i %>"><input type="hidden" value="0"></td>
    <td style="background-color: rgb(255, 255, 255);" id="Wed<%= @i %>"><input type="hidden" value="0"></td>
    <td style="background-color: rgb(255, 255, 255);" id="Thurs<%= @i %>"><input type="hidden" value="0"></td>
    <td style="background-color: rgb(255, 255, 255);" id="Fri<%= @i %>"><input type="hidden" value="0"></td>
    <td style="background-color: rgb(255, 255, 255);" id="Sat<%= @i %>"><input type="hidden" value="0"></td>
  </tr>
  <% @i = @i + 1%>
  <% end %>
</table>



<script>
$(document).ready(function(){

  var isDown = false;   // Tracks status of mouse button

  $(document).mousedown(function() {
    isDown = true;      // When mouse goes down, set isDown to true
  })
  .mouseup(function() {
    isDown = false;    // When mouse goes up, set isDown to false
  });

  //$('td').live('click', function() {
  $("#mysched").on('mouseover','td', function() {
    if(isDown)
    {
       //alert($(this).find("input").attr("value"));
       if($(this).attr("style") == "background-color: rgb(255, 255, 255);")
       {
         $(this).css('backgroundColor', 'rgb(0, 0, 0);');
         $(this).find("input").attr("value", 1);
       }
    }
  });
  
  $("#mysched").on('mousedown','td', function() {
     //alert($(this).find("input").attr("value"));
     if($(this).attr("style") == "background-color: rgb(255, 255, 255);")
     {
       $(this).css('backgroundColor', 'rgb(0, 0, 0);');
       $(this).find("input").attr("value", 1);
     }
     else
     {
       $(this).css('backgroundColor', 'rgb(255, 255, 255);');
       $(this).find("input").attr("value", 0);
     }
  });
});
</script>
















<%
#game_score_query = client.query("GameScore")
#game_score_query.eq("objectId", "GeqPWJdNqp")
#game_score_query.include = "game"
#game_score = game_score_query.get


@a = @client.query("User_Group")
@a.eq("objectId", "Z9SImOxQA8")
@a.include = "group_ptr"

@b = @a.get.first

@c = @user_group_query = @client.query("User_Group").tap do |q|
        q.eq("user_id", session[:current_user]["objectId"])
        q.include = "group_ptr,user_info_ptr"
end.get

@user_info = @client.query("User_Info").eq("user_objectId", session[:current_user]["objectId"]).get.first

@d = @client.query("User_Group").tap do |q|
        q.eq("user_info_ptr", Parse::Pointer.new({"className" => "User_Info","objectId"  =>  @user_info["objectId"]}))
        q.include = "group_ptr,user_info_ptr"
end.get

%>