<body class = "hundredPercent">
    <div id= 'sprints_page' hidden></div>
    <%= javascript_tag do %>
        window.selected_group_id = '<%= session[:current_user]["current_groupId"]%>';
        window.current_user_id = '<%= @user_info["objectId"] %>';
        window.current_user_fname = '<%= @user_info["first_name"] %>';
        window.current_user_lname = '<%= @user_info["last_name"] %>';
        window.number_of_columns = <%= @columns.length %>;
    <% end %>
    <div class= "center_wrapper hundredPercent">
      <div class = "my_sprint_container">
        <h2 class = "title">Sprint Board</h2>
        <hr>
        <div id="createSprint" onclick= "div_sp_show()">New Sprint</div>
        <%@colWidth = 100 / @columns.length%>
          <div class= "board_header">
            <%@columns.each do |col| %>
                <div class= "my_col_header" style = "width: <%=@colWidth%>%">
                  <div class='my_title'><%=col%></div>
                </div>
            <%end %>
          </div>
          <div class= "board">
          </div>
          
          
          <div id="abc">
          <!-- Popup Div Starts Here -->
            <div id="popupContact">
              <!-- Contact Us Form -->
              <%=image_tag("closebutton.png", alt: "Example Image", :onclick => 'div_abc_hide()', :id => 'close')%>
              <form id = "form">
                Feature Name:<br>
                <input type="text" id = "name" name="name" placeholder="Feature Name"><br>
                Feature Description:<br>
                <input type="text" id = "description" name="description" placeholder="Description">
                <fieldset class="poker_checkbox">
                  Use Poker: 
                  <input type="checkbox" id="usePoker" name="Use Poker" onchange="valueChanged()" checked>
                </fieldset>
                <fieldset id="hidden_difficulty">
                  Difficulty:<br>
                  <!--<%= select_tag(:feature_dif, options_for_select([['1', 1], ['2', 2], ['3', 3], ['4', 4],['5', 5]]), :id => "feature_dif", :class => "form-control") %>-->
                  <%= select_tag(:feature_dif, options_for_select(1..@diff_size), :id => "feature_dif", :class => "form-control") %>
                </fieldset>
        
                <input class="newFeatureSubmit" type="button" name="submit" id="submit" value="submit"/>
              </form>
            </div>
          <!-- Popup Div Ends Here -->
          </div>
          
          <div id="newTask">
          <!-- Popup Div Starts Here -->
            <div id="popupContact">
              <!-- Contact Us Form -->
              <%=image_tag("closebutton.png", alt: "Example Image", :onclick => 'div_newTask_hide()', :id => 'close')%>
              <form id = "form">
                Task Name:<br>
                <input type="text" id = "tname" name="name" placeholder="Task Name"><br>
                Task Description:<br>
                <input type="text" id = "tdescription" name="description" placeholder="Description">
                Set Worker:<br>
                <select id = "task_worker" class= "form-control">
                    <option id = "" value = "" selected>Select a User</option>
                  <% @users.each_with_index do |u,i|%>
                    <option id = <%=u["user_info_ptr"]["objectId"]%> value= <%= u["user_info_ptr"]["objectId"]%>><%=u["user_info_ptr"]["first_name"]%> <%=u["user_info_ptr"]["last_name"]%></option>
                  <%end%>
                </select>
                <input class="newTaskSubmit" type="button" name="submit" id="submit" value="submit"/>
              </form>
            </div>
          <!-- Popup Div Ends Here -->
          </div>
    
          <div id="sprintPopup">
          <!-- Popup Div Starts Here -->
            <div id="popupContact">
            <!-- Contact Us Form -->
            <%=image_tag("closebutton.png", alt: "Example Image", :onclick => 'div_sp_hide()', :id => 'close')%>
              <form id = "form">
                Sprint Name:<br>
                <input type="text" id = "sprintName" name="name" placeholder="Sprint Name" required><br>
                Start Date:<br>
                <input type="date" id = "startDate" name="startDate" required>
                End Date:<br>
                <input type="date" id = "endDate" name="endDate" required>
                <!--<input type="submit" value="Submit" id="submit">-->
                <input class= "newSprintSubmit" type="button" name="submit" id="submit" value="submit"/>
              </form>
            </div>
          <!-- Popup Div Ends Here -->
          </div>
          
          <!--<div id="editPopup">
            <div id="popupContact">
            <%=image_tag("closebutton.png", alt: "Example Image", :onclick => 'div_sp_hide()', :id => 'close')%>
              <form id = "form">
                Sprint Name:<br>
                <input type="text" id = "editsprintName" name="name" placeholder="Sprint Name" required><br>
                Start Date:<br>
                <input type="date" id = "editstartDate" name="startDate" required>
                End Date:<br>
                <input type="date" id = "editendDate" name="endDate" required>
                <input type="button" name="submit" id="submit" value="submit"/>
              </form>
            </div>
          </div>-->
    
          <div id="editFeaturePopup">
          <!-- Popup Div Starts Here -->
            <div id="popupContact">
            <!-- Contact Us Form -->
              <%=image_tag("closebutton.png", alt: "Example Image", :onclick => 'div_ef_hide()', :id => 'close')%>
              <form id = "form">
                Feature Name:<br>
                <input type="text" id ="editfeaturename" name="name" required><br>
                Feature Difficulty:<br>
                <fieldset id="edit_hidden_difficulty">
                <!--<%= select_tag(:feature_dif, options_for_select([['1', 1], ['2', 2], ['3', 3], ['4', 4],['5', 5]]), :id => "edit_feature_dif", :class => "form-control") %>-->
                <!--<%= select_tag(:feature_dif, options_for_select(1..@diff_size), :id => "edit_feature_dif", :class => "form-control") %>-->
                <select name="feature_dif" id="edit_feature_dif" class="form-control">  
                  <option value= "">Select a Difficulty</option>
                  <% for i in 1..@diff_size%>
                    <option value= '<%= i%>'><%=i%></option>
                  <%end%>
                </select>
                </fieldset>
                <h4 id="display_difficulty"></h4>
                Feature Description:<br>
                <input type="text" id = "editfeaturedescription" name="description">
                <input type="button" name="submit" id="updatefeature" value="submit"/>
                <input type="button" name="delete" id="deletefeature" value="delete"/>
              </form>
            </div>
          </div>
          
          <div id="editTaskPopup">
          <!-- Popup Div Starts Here -->
            <div id="popupContact">
            <!-- Contact Us Form -->
              <%=image_tag("closebutton.png", alt: "Example Image", :onclick => 'div_et_hide()', :id => 'close')%>
              <form id = "form">
                Task Name:<br>
                <input type="text" id ="edittaskname" name="name" required><br>
                <h4 id="display_difficulty"></h4>
                Task Description:<br>
                <input type="text" id = "edittaskdescription" name="description">
                Change Worker:<br>
                <select id = "edittaskworker" class= "form-control">
                  <option id = "" value = "" selected>Select a User</option>
                  <% @users.each_with_index do |u,i|%>
                    <option id = <%=u["user_info_ptr"]["objectId"]%> value= <%= u["user_info_ptr"]["objectId"]%>><%=u["user_info_ptr"]["first_name"]%> <%=u["user_info_ptr"]["last_name"]%></option>>
                  <%end%>
                </select>
                <input type="button" name="submit" id="updatetask" value="submit"/>
                <input type="button" name="delete" id="deletetask" value="delete"/>
              </form>
            </div>
          <!-- Popup Div Ends Here -->
          </div>
    
    
      </div>
  </div>
</body>
