<body class = "hundredPercent">
    <div id= 'sprints_page' hidden></div>
    <%= javascript_tag do %>
        window.selected_group_id = '<%= session[:current_user]["current_groupId"]%>';
        window.current_user_id = '<%= @user_info["objectId"] %>';
        window.number_of_columns = <%= @columns.length %>;
    <% end %>
    <div class= "center_wrapper hundredPercent">
      <div class = "my_sprint_container">
        <h2 class = "title">Sprint Board</h2>
        <hr>
        <%@colWidth = 100 / @columns.length%>
          <div class= "board_header">
            <%@columns.each do |col| %>
                <div class= "my_col_header" style = "width: <%=@colWidth%>%">
                  <div class='my_title'><%=col["name"]%></div>
                </div>
            <%end %>
          </div>
          <div class= "board">
          </div>
    </div>
  </body>
<!--</html>-->

<!--<body>
 
<div class="column">
 
  <div class="portlet">
    <div class="portlet-header">Feeds</div>
    <div class="portlet-content">Lorem ipsum dolor sit amet, consectetuer adipiscing elit</div>
  </div>
 
  <div class="portlet">
    <div class="portlet-header">News</div>
    <div class="portlet-content">Lorem ipsum dolor sit amet, consectetuer adipiscing elit</div>
  </div>
 
</div>
 
<div class="column">
 
  <div class="portlet">
    <div class="portlet-header">Shopping</div>
    <div class="portlet-content">Lorem ipsum dolor sit amet, consectetuer adipiscing elit</div>
  </div>
 
</div>
 
<div class="column">
 
  <div class="portlet">
    <div class="portlet-header">Links</div>
    <div class="portlet-content">Lorem ipsum dolor sit amet, consectetuer adipiscing elit</div>
  </div>
 
  <div class="portlet">
    <div class="portlet-header">Images</div>
    <div class="portlet-content">Lorem ipsum dolor sit amet, consectetuer adipiscing elit</div>
  </div>
 
</div>
 
 
</body>-->